# Configuração de Banco de Dados Local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=saap_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Configurações de Log e JPA
SPRING_JPA_SHOW_SQL=false
HIBERNATE_FORMAT_SQL=true
FLYWAY_ENABLED=true

# Porta do Servidor Tomcat
PORT=8080

# Configurações do JWT Security
# openssl rand -hex 32 ou openssl rand -base64 32
JWT_SECRET=meu_segredo_super_secreto_para_assinatura_do_token_jwt
JWT_EXPIRATION=86400000
